
.btn{
    padding: 5px 15px;
    background-color: var(--theme--default--color);
    text-transform: uppercase;
    font-family: var(--font--text-family);
    font-size: 1rem;
    font-weight: 500;
    color: var(--text--secondary-color);
    cursor: pointer;
    margin: 10px 5px;
}
.read-more-btn{
    margin-top: 30px;
    font-size: 1rem;
    text-transform:capitalize;
    color: var( --text--primary--color);
    padding: 10px 30px;
}
.serviceBookBtn{
    border-radius: 5px;
}

.blog__btn{
    padding: 8px 35px;
    text-transform: capitalize;
    color: var(--text--primary--color);
    -webkit-box-shadow: 10px 13px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 5px -3px rgba(0,0,0,0.75);
}
.subs_btn{
    padding: 10px 65px;
    background-color: #cdcbcb;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.subs_btn:hover{
    background-color: var(--text--default--color);
    transition: 3s;
}





@media screen and (max-width: 480px) {

    .read-more-btn{
        margin-top: 20px;
        font-size: 0.9rem;
        text-transform:capitalize;
        color: var( --text--primary--color);
        padding: 5px 20px;
    }


}