
@media screen and (max-width: 480px) {

/**** Hero Start ****/
.hero-section{
    width: 100%;
    height: auto;
    background: url(../../Assats/images/hero/slider-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    background-position:center;
}
.hero__wrapper{
    height: auto;
    display: flex;
    align-items: center;
    padding: 50px 0px;
}
.hero-content h1{
    font-size: 1.5rem;
    padding-bottom: 0px;
}
.hero-content p{
    font-size: 0.8rem;
    max-width: 100%;
    padding: 5px 0px;
    margin-bottom: 10px;
}

/**** About Section ****/

.about__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px  0px 50px;
}
.about__content {
  padding-bottom: 50px;
}
.about__images{
  padding-bottom: 50px;
}
.about__content > p{
    font-size: 0.8rem;
    font-weight: 300;
    font-family: var(--font--text-family);
    color: #4b4a4a;
    max-width: 100%;
    padding-top: 10px;
}

/**** Service Section ****/
.service-wrapper{
    padding: 50px  0px 50px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.service-heading {
    padding-bottom: 20px;
}

/**** Pricing Section ****/
.pricingSection {
    padding: 30px 0px;
}
.pricing__Wrapper{
    display: flex;
    flex-direction: column;
}

.pricing_left {
    display: flex;
    justify-content: center;
    margin: 0px 0px 100px 10px;
}
/**** Blog Section ****/
.blogs__show{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}
/**** Footer Section ****/

}

@media screen and (min-width:480px) and (max-width: 780px) {
    /**** Blog Section ****/
    .blogs__show{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    .pricing__Wrapper{
        display: flex;
        flex-direction: column;
    }
    .pricing_left {
        display: flex;
        justify-content: center;
        margin: 0px 0px 100px 10px;
    }

  }