/***** about-card Starts *****/
.about-card_wrapper{
    width: 280px;
    height: 400px;
    position: relative;
}
.about_before_bg{
    left: -20px;
    top: -20px; 
    position: absolute; 
    width: 280px;
    height: 400px;
    z-index: 1; 
    background-color:var(--theme--default--color);
}
.about_card_img{
    width: 280px;
    height: 400px;
    position: absolute;
    z-index: 2;
    text-align: center;
} 
.about_card_img img {
    /* max-width: 100%;
    max-height: 100%; */
    width: 280px;
    height: 400px;
} 
.about_after_bg{
    right: -20px;
    bottom: -20px;
    position: absolute; 
    width: 280px;
    height: 400px;
    z-index: 0; 
    background-color:var(--theme--secondary-color);
}

/***** Service-card *****/
.service__card{
    background-color: var(--theme--primary--color);
    width: 100%;
    height: 500px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service_card_wrapper {
    width: 90%;
    height: 460px;
    padding: 20px;
    border: 2px solid #d69d2b;
    border-radius: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--theme--primary--color);
}
.service_content{
    
}
.service_img{
    width: 176px;
    height: 187px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.service_img img{
    width: 100%;
    height: auto;
}
.service_details{
    text-align: center;
}
.service_details h2{
    font-size: 2rem;
    font-weight:600;
    font-family: var(--font--text-family);
    color:var(--text--secondary--color);
}
.service_details .color-text{
    color: #d69d2b;
}
.service_details p{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font--text-family);
    color: #4b4a4a;
}

.service_details button{
    color: var(--text--primary--color);
    margin-top: 20px;
    padding: 8px 30px;
}


/***** Gallary-card Starts *****/
.gallary__card{
    width: 100%;
    height: 400px;
}
.gallary__card img{
    width: 255px;
    height: 400px;
}

/***** Blog-card Starts *****/

.blog__card{
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;
}
.blog__img{
    width: 100%;
    height: auto;
}
.blog{
    padding: 20px;
}
.blog__title{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font--text-family);
    color: var(--text--default--color);
    text-transform: uppercase;
    padding-bottom: 10px;
}
.blog__subtitle{
    font-size: 0.7rem;
    font-weight: 500;
    font-family: var(--font--text-family);
    padding-bottom: 10px;
}
.blog_date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog_date p{
    font-size: 0.7rem;
    font-weight: 500;
    font-family: var(--font--text-family);
}

.location__card{
    width: 420px;
    height: auto;
    background-color: #000000;
    opacity: 0.9;
    padding: 15px;
}
.location__card_wrapper{
    border: 1px solid #ffff;
    padding: 50px;
    color: aliceblue;
}
.contact{
    display: flex;
    gap: 20px;
    padding-bottom: 3px;
}
.location_text{
    padding-bottom: 30px;
}
.contact svg{
    font-size: 25px;
    font-weight: bold;
    color: #d69d2b;
}
.contact p{
    font-size: 0.8rem;
    font-weight: 300;
    font-family: var(--font--text-family);
}

/***** prizing__card Start *****/

.pricing__card{
    width: 100%;
    height: auto;
    padding: 20px 90px;
    z-index: 3;
    position: relative;
    border-radius: 5px;
    border: 2px solid #000;
    background-color:var(--theme--primary--color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pricing__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pricing__details{
    text-align: center;
}
.pricing__title{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font--text-family);
    text-transform:uppercase;
}
.prizing_color{
    color: #feb650;
}
.pricing__subtitle{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font--text-family);
    padding-bottom: 40px;
}
.salun__picture {
    position: absolute;
    right: 100px;
    bottom: 100px;
}
.salun__picture img {
    width: 160px;
    height: 130px;
}
.pricing__item {
    background-image: url(../../Assats/images/Pricing/ullist.png);
    background-repeat: no-repeat;
    padding: 0px 0px 20px 0px;
    margin: 0;
    font-weight: 600;
}
.pricing__design {
    width: 330px;
    height: 60px;
    padding: 10px 0px;
    margin: 0 auto;
}
.pricing__design img{
    width: 100%;
    height: auto;
}
.pricing__top__design {
    width: 180px;
    height: 80px;
    background-color: #feb650;
    position: absolute;
    top: 0;
    left: -51px;
    clip-path: polygon(54% 0%, 80% 0, 28% 100%, 28% 52%);
}
.pricing__bottom__design {
    width: 180px;
    height: 80px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    right: -51px;
    clip-path: polygon(54% 0%, 80% 0, 28% 100%, 28% 52%);
    transform: rotate(-180deg);
}

/***** prizing__card Ends *****/

 /* PricelistCard */

.pricelist__card{
    width: 100%;
    height: auto;
}
.order__list{
    padding: 10px;
    margin-left: 10px;
}
.order__list li{
    color: #e2e2e2;
    padding: 5px;
    margin-left: 25px;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: var(--font--text-family);
}


@media screen and (max-width: 480px) {

    .about_card_img img {
        width: 200px;
        height: 320px;
    }
    .about-card_wrapper{
        width: 200px;
        height: 320px;
        position: relative;
    }
    .about_before_bg{
        left: -20px;
        top: -20px; 
        position: absolute; 
        width: 200px;
        height: 320px;
        z-index: 1; 
        background-color:var(--theme--default--color);
    }
    .about_card_img{
        width: 200px;
        height: 320px;
        position: absolute;
        z-index: 2;
        text-align: center;
    } 
    .about_after_bg{
        right: -20px;
        bottom: -20px;
        position: absolute; 
        width: 200px;
        height: 320px;
        z-index: 0; 
        background-color:var(--theme--secondary-color);
    }

    /***** Service Card *****/
    .service__card{
        width: 100%;
        height: 350px;
    }
    .service_card_wrapper{
        width: 90%;
        height: 320px;
        padding: 20px;
    }
    .service_img {
        width: 120px;
        height: 130px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .service_details h2{
        font-size: 1.2rem;
        font-weight:600;
        font-family: var(--font--text-family);
        color:var(--text--secondary--color);
    }
    .service_details p{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .service_details button{
        margin-top: 20px;
        padding: 5px 15px;
        font-size: 0.9rem;
        text-transform:capitalize;
        color: var( --text--primary--color);
    }  
    /***** Blog Card *****/
    .blog__card {
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }
    .blog__title {
        font-size: 0.8rem;
        font-weight: 500;
        font-family: var(--font--text-family);
        color: var(--text--default--color);
        text-transform: capitalize;
        padding: 10px 0px;
    }
    .blog__subtitle {
        font-size: 0.7rem;
        font-weight: 400;
        font-family: var(--font--text-family);
        padding-bottom: 0px; 
    }
    .blog_date p {
        font-size: 0.5rem;
        font-weight: 500;
        font-family: var(--font--text-family);
    }
    /***** Blog Card *****/
    .pricing__card {
        width: 100%;
        height: auto;
        padding: 50px 10px;
        z-index: 3;
        position: relative;
        border: 2px solid #000;
        border-radius: 5px;
        background-color: var(--theme--primary--color);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .pricing__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .pricing__details{
        text-align: center;
    }
    .salun__picture {
        position: absolute;
        right: 0px;
        bottom: 90px;
    }
    .pricing__title {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .pricing__subtitle {
        font-size: 0.8rem;
        font-weight: 500;
    }
    .pricing__item {
        background-image: none;
        background-repeat: no-repeat;
        padding: 0px 0px 20px 0px;
        margin: 0;
        font-weight: 600;
        font-size: 0.7rem;
    }
    .pricing__design {
        width: 170px;
        height: 40px;
        padding: 10px 0px;
        margin: 0 auto;
    }
    .location {
        width: 100%;
        height: auto;
        background-image: url(/static/media/locationBG.8dd200fa.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 50%;
    }
    .location__card {
        width: 100%;
        height: auto;
        background-color: #000000;
        opacity: 0.9;
        padding: 15px;
    }
    .location__wrapper {
        padding: 0px 0px 50px 0px;
    }
    .location__card_wrapper {
        border: 1px solid #ffff;
        padding: 10px;
        color: aliceblue;
    }
    .contact p {
        font-size: 0.7rem;
        font-weight: 300;
        font-family: var(--font--text-family);
    }
    .location_text {
        padding-bottom: 10px;
    }
    .contact {
        display: -ms-flexbox;
        display: flex;
        gap: 4px;
        padding-bottom: 3px;
    }
    .contact svg {
        font-size: 15px;
    }

    /* PricelistCard */

    .order__list li{
        color: #e2e2e2;
        padding: 5px;
        margin-left: 25px;
        font-size: 0.8rem;
        font-weight: 400;
        font-family: var(--font--text-family);
    }

}

@media screen and (min-width:480px) and (max-width: 780px) {
     /* PricelistCard */
    .order__list li{
        color: #e2e2e2;
        padding: 5px;
        margin-left: 25px;
        font-size: 0.7rem;
        font-weight: 400;
        font-family: var(--font--text-family);
    }
    .blog_date p {
        font-size: 0.6rem;
        font-weight: 500;
        font-family: var(--font--text-family);
    }
}