



/***** about-card Starts *****/
.about-card_wrapper{
    position: relative;
}

.about-images1 {
    background-color:var(--theme--default--color);
    left: -20px;
    top: -20px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.about-images2 {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 3;
}
.about-images3 {
    background-color:var(--theme--secondary-color);
    right: -20px;
    bottom: -20px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.about-content > p{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font--text-family);
    color: #4b4a4a;
    max-width: 70%;
    padding-top: 20px;
}

/***** about-card Endss *****/


.service-item{
    background-color: var(--theme--primary--color);
    width: 300px;
    height: 450px;
    z-index: 2;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center; 
}
.item{
    background-color: var(--theme--primary--color);
    padding: 20px;
    width: 280px;
    height: 430px;
    z-index: 2;
    position: relative;
    border-radius: 5px;
    border: 2px solid #d69d2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 176px;
    height: 187px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item h2{
    font-size: 2rem;
    font-weight:600;
    font-family: var(--font--text-family);
    color:var(--text--secondary--color);
   
}

.color-text{
    color: #d69d2b;
}

.item p{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font--text-family);
    color: #4b4a4a;
}

.item button{
    color: var(--text--primary--color);
    margin-top: 20px;
    padding: 8px 30px;
}

.gallary__card{
    width: 260px;
    height: 400px;
}
.gallary__card img{
    width: 255px;
    height: 400px;
}


.blog__card{
    width: 300px;
    height: 600px;
}
.blog_img{
    width: 300px;
    height: 600px;
}
.blog__title{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font--text-family);
    color: var(--text--default--color);
    text-transform: uppercase;
    padding-bottom: 10px;
}
.blog__subtitle{
    font-size: 0.7rem;
    font-weight: 600;
    font-family: var(--font--text-family);
    padding-bottom: 10px;
}
.location__card{
    width: 420px;
    height: auto;
    background-color: #000000;
    opacity: 0.9;
    padding: 15px;
}
.location__card_wrapper{
    border: 1px solid #ffff;
    padding: 50px;
    color: aliceblue;
}
.contact{
    display: flex;
    gap: 20px;
    padding-bottom: 3px;
}
.location_text{
    padding-bottom: 30px;
}
.contact svg{
    font-size: 25px;
    font-weight: bold;
    color: #d69d2b;
}
.contact p{
    font-size: 0.8rem;
    font-weight: 300;
    font-family: var(--font--text-family);
}

/***** prizing__card Start *****/
.prizing__menu{
    display: flex;
    justify-content: center;
   
}
.prizing__card{
    width: 550px;
    height: auto;
    background-color:var(--theme--primary--color);
    border: 2px solid #000;
    position: relative;
    z-index: 3;
    padding: 20px 90px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pricing__title{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font--text-family);
    text-transform:uppercase;
}
.prizing_color{
    color: #feb650;
}
.pricing__subtitle{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font--text-family);
    padding-bottom: 40px;
}
.salun__picture {
    position: absolute;
    right: 180px;
    bottom: 140px;
}
.salun__picture img {
    width: 160px;
    height: 130px;
}
.pricing__item {
    background-image: url(../../Assats/images/Pricing/ullist.png);
    background-repeat: no-repeat;
    padding: 0px 0px 20px 0px;
    margin: 0;
    font-weight: 600;
}
.pricing__design{
    padding: 10px 0px;
}
.prizing__top__design {
    width: 180px;
    height: 80px;
    background-color: #feb650;
    position: absolute;
    top: 0;
    left: -51px;
    clip-path: polygon(54% 0%, 80% 0, 28% 100%, 28% 52%);
}
.prizing__bottom__design {
    width: 180px;
    height: 80px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    right: -51px;
    clip-path: polygon(54% 0%, 80% 0, 28% 100%, 28% 52%);
    transform: rotate(-180deg);
}

/***** prizing__card Ends *****/