 /****** Header Start  ******/
.header{
    width: 100%;
    height: 112px;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 200px;
    height: 80px;
}
nav ul{
    display: flex;
}
nav ul li {
    padding: 10px;
}
nav ul li a:hover {
   color: var(--text--default--color);
}
nav ul li a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text--primary--color);
    font-family: var(--font--text-family);
    text-transform: uppercase;
    transition: all;
}

nav ul li a:hover{
    border-bottom: 3px solid var( --theme--default--color);
    padding-bottom: 42px;
}
.mobile-menu{
    /* display: none; */
    position: relative;
    z-index: 50000;
}

footer{
    width: 100%;
    height: auto;
    background-color: var(--theme--secondary-color);
}
.footer__wrapper{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    color: var(--text--primary--color);
    padding: 50px 0px;
}
.footer_menu{
    display: flex;
    justify-content: center;
}
.footer__logo{
    padding-bottom: 10px;
}

.footer_about_text{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text--primary--color);
    font-family: var(--font--text-family);
}

.footer_menu_heading{
    padding-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text--default--color);
    font-family: var(--font--text-family);
}
.footer_menu_item{
    padding-bottom: 20px;
}

.footer_menu_item a{
    font-family: var(--font--text-family);
    font-weight: 300;
    font-size: 1rem;
    transition: 3s;
}

.footer_menu_item a:hover{
    margin-left: 20px;
   color: var(--text--default--color);
}

.footer_contact_details{
    font-size: 1rem;
    font-weight: 500;
    color: #ffff;
    font-family: var(--font--text-family);
}
.footer_contact_details p{
    font-size: 0.8rem;
    font-weight: 400;
    font-family: var(--font--text-family);
    color: var(--text--primary--color);
}
.footer__social_media{
    padding: 30px 0px;
}
.social__items{
    display: flex;
    gap: 10px;
}
.social__item a svg{
    color: var(--text--primary--color);
    font-size: 30px;
    transition: 3s;
}
.social__item a svg:hover{
    color: var(--text--default--color);
}



 /****** Header End  ******/

@media screen and (max-width: 480px) {
    /******* Header Start *******/
    nav, .booking-btn{
        display: none;
    }
    /******* Header Ends *******/
    .logo img {
        width: 150px;
        height: auto;
    }
    /****** mobile-menu Start ******/
    .mobile-menu{
        display: block;
        position: absolute;
        width: 100%;
    }
    .mobile-icon svg {
        color: var(--text--default--color);
        font-size: 40px;
        position: absolute;
        right: 20%;
        bottom: -20px;
    }
    .mobile-menu-link {
        position: absolute;
        min-width: 80%;
        margin-top: 60px;
        background-color: var(--theme--default--color);
    }
    .mobile-menu-link li{
        max-width: 100%;
        margin-bottom: 2px;
        padding: 10px;
        
        background-color: aliceblue;
    }
    .mobile-menu-link li:hover{
        background-color: var(--theme--default--color);
        color:var(--text--primary--color);
    }
    .mobile-menu-link li a{
       color: var(--text--secondary-color);
    }

    /****** mobile-menu End ******/


    .footer__wrapper{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
        color: var(--text--primary--color);
        padding: 50px 0px;
    }

    }

@media screen and (max-width: 780px) {
    nav{
        display: none;
    }
  }