/* Categrory slider section styling */
.slick-prev,
.slick-prev:focus,
.slick-next,
.slick-next:focus {
  outline: none;
  background-color: #0D3D80 !important;
  font-size: 14px !important;
  padding: 5px;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.slick-prev::before,
.slick-next::before {
  font-family: var(--google-font-family, 'slick');
  /* font-family: 'slick'; */
  font-size: 18px !important;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 5px !important;
  z-index: 2;
}

.slick-next {
  right: 5px !important;
  z-index: 2;
}

.slick-list {
  margin: 0px 28px !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: #084496 !important;
}

.slide {
  margin: 0 auto;
}

.slide {
  transform: scale(0.9);
  /* transition: transform 300ms; */
  transition: 0.5s ease-out;
  opacity: 0.6;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
  /* margin: 20px 0px; */
}