/******** Font Link *******/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/******** Main Root *******/
:root {
    /***** Theme Color *****/
    --theme--default--color:  #feb650;
    --theme--primary--color: #ffffff;
    --theme--secondary-color: #030303;
    /***** Text Color *****/
    --text--default--color:  #feb650;
    --text--primary--color: #ffffff;
    --text--secondary-color: #030303;
    /***** Text Area *****/
    --default--font--size: 1rem;
    --default--line--height: 1rem;
    --default--box--shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    /***** Font Family *****/
    --font--heading-family: 'Playfair Display', serif;
    --font--text-family: 'Poppins', sans-serif;
}
/******** Praimary Root *******/
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
  
}

ul li{
    list-style: none;
}

a{
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: var(--text--primary--color);
    font-family: var(--font--text-family);
    text-transform: capitalize;
    text-decoration: none;
}
button{
    border: none;
}

.section-heading{
    position: relative;
    z-index: 200;
}
.heading{
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: var(--font--heading-family);
    color:var(--text--secondary-color);
    text-transform: uppercase;
    font-weight: bold;
}
.color-text{
    color: var(--text--default--color);
}

.sub-heading{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font--text-family);
}
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}